@media (max-width:700px){
    body {
        font-size: 13px;
    }

    #content .columns_2 {
        display: flex;
        flex-flow: column;
    }

    #news_gallery section {
        width: 90%;
    }

    #press_gallery section {
        width: 90%;
    }

    .mobile {
      width: 100%;
      max-width: 100%;
      flex-basis: 100%!important;
    }

    .mobile img {
      max-width: 100%!important;
      width: 100%!important;
    }

    #content blockquote {
      font-size: 1.2em;
    }

    .manifiest {
      font-size: 1.4em;
    }

    .columns {
      flex-flow: column;
    }

    #classes_panel .images img {
        max-width: 90%;
        max-height: auto;
        height: auto;
    }

    .mobile_flex_reverse {
        flex-flow: column-reverse;
    }

    #events_gallery .event {
        margin: 5px;
    }

    #events_gallery .event .text h2 {
        padding: 0;
        margin: 13px 0 5px 0;
    }

    #events_gallery .event .text {
        padding: 0px 11px 8px 10px;
    }

    #events_gallery .event .link {
        text-align: right;
    }

    #events_gallery .event .link .btn {
        line-height: 1.4em;
        padding: 0;
    }

}
