
* {
    font-family: 'Overpass', sans-serif;
    color: #444;
    box-sizing: content-box;
}

body {
    padding: 5vw;
    margin:0;
    text-align:center;
    background:#eee;
    font-size: 17px;
}
body.locked {
    overflow: hidden;
}

li {
    color: #555;
}
li strong {
    color: #888;
}

a {
    text-decoration: underline rgba(0,0,0,.3);
}
a:hover {
    text-decoration: underline rgba(0,0,0,.8);
}
footer {
    padding: 1vw;
}

code {
    color: #888;
    font-size: .9em;
}

.hide {
    display: none;
}

.col_1d2 {
    float: left;
    width: 50%;
    overflow: hidden;
}
.col_1d3 {
    float: left;
    width: 33.333%;
    overflow: hidden;
}
.col_1d4 {
    float: left;
    width: 25%;
    overflow: hidden;
}
.col_2d3 {
    float: left;
    width: 66.666%;
    overflow: hidden;
}
.col_close {
    width: 100%;
    float: none;
}

.flex_col {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
}
.flex_col.fc_1d4 {
    flex-basis: 25%;
}

.flex_col.fc_1d3 {
    flex-basis: 33.333%;
}

.flex_col.fc_1d2 {
    flex-basis: 50%;
}
.columns {
    display: flex;
    flex-flow: row;
}
.columns .img p {
    text-align: center;
}
.columns .img p img {
    display: block;
    margin: 0 auto;
}

.menu_bar .menu {
    display: inline-block;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.pe-30 {
    padding-right: 30px;
}

.c-white {
    color: #fff;
}

.upper {
    text-transform: uppercase;
}

.vertical_center {
    align-items: center;
}

.manifest {
    font-size: 1.3em;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 1.4em;
    color: #888;
    font-style: italic;
}
.manifest p::before {
    content: "«";
    display: inline-block;
    margin-right: 0.5em;
    font-size: 1.6em;
    opacity: 0.6;
    font-weight: 100;
}
.manifest p::after {
    content: "»";
    margin-left: 0.5em;
    font-size: 1em;
    opacity: 0.8;
    font-weight: 100;
}

.manifest p {
    margin: 0;
    padding: 0;
}


.manifest * {
    color: inherit;
}



.ff-bellota * {
    font-family: "Bellota", system-ui;
    font-weight: 400;
    font-style: italic;
    font-size: 0.9em;
}

/*
.ff-caveat * {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    font-size: 1.3em;
    line-height: 1em !important;
}
.ff-playwrite-gb-s  * {
    font-family: "Playwrite GB S", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 0.8m;
}
.ff-fuzzy-bubbles * {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9em;
}
*/

.no_padding_top_first_h2 h2:first-child {
    padding-top: 0!important;
}

.lined-block {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

header {
    min-height: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background: inherit;
}

#logo {
    max-width: 250px;
    margin: 0 auto;
}

#menu_pages a {
    font-size: 1.1em;
    text-decoration: nunderline rgba(0,0,0,.3)one;
    color: rgba(0,0,0,.6);
}
#menu_pages a.actual,
#menu_pages a:hover {
    color: rgba(0,0,0,.9);
    text-decoration: underline rgba(0,0,0,.3);
}

.menu_sticky_active header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 40px;
    z-index: 10000;
    padding: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: 1s all;
}

body.locked header {
    display: none;
}
.menu_sticky_active #content {
    margin-top: 100px;
}

select#page_lang {
    padding: 3px;
    border: none;
    border-radius: 4px;
    background: #fff;
}
.menu ul {
    padding: 0;
    margin: 0;
}
.menu li {
    padding: 4px;
    list-style: none;
    display: inline-block;
}

.list_lined li {
    padding: 7px;
    margin: 4px auto;
    border-left: 2px solid #ccc;
}

.list_compact h4 {
    margin: 5px 0 0 0;
    padding: 0;
    font-size: 0.9em;
}

.list_compact ul li {
    margin: 2px auto;
    border-radius: 3px;
    border: none;
    padding-left: 10px;
    border-left: 2px solid #ccc;
}
.text-small h3 { font-size: 1em; }
.text-small h4 { font-size: 0.7em; }
.text-small li { font-size: 0.8em; }
.text-small p { font-size: 0.8em; }


.list_item li {
    padding: 10px;
    margin: 8px auto;
    border-radius: 2px;
    border-bottom: 1px solid #bbb;
}
.list_item li img {
    width: 25px;
    padding: 0 5px;
}

.list_item li * {
    vertical-align: middle;
}

.list_inline li {
    display: inline-block;
    padding: 10px 20px;
    margin: 8px 20px;
    border-radius: 5px;
    border-bottom: 1px solid #ccc;
}

.slide {
    margin: 0;
    padding: 0;
    position: relative;
}
.slide .image {
    margin: auto;
    text-align: center;
    position: relative;
}
.slide .image img {
    margin: auto;
    display: inline-block!important;
    width: 100%!important;
}
.slide .image .back {
    opacity: 0;
    width: 100%;
    max-width: 100%!important;
}
.slide .image .front {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%!important;
}
.slide ul {
    text-align: center;
    width: 100%;
}
.slide ul li {
    background: #bbb;
    border: 3px solid #fff;
    margin: 10px;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
}
.slide ul li:hover,
.slide ul li.actual {
    background: #555;
}

#content {
    background: #fff;
    padding: 4vw 4vw 8vw 4vW;
    margin: 2vw;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}
#content img {
    display: block;
    max-width: 80%;
}

#content ul {
    padding: 0;
    margin: 0 auto;
}
#content li {
    list-style: none;
}
#content li * {
    vertical-align: middle;
}
#content li img {
    display: inline-block;
}

#content h1 {
    font-size: 1.6em;
    text-align: center;
    font-weight: 300;
    color: #999;
    margin-top: 10px;
    padding-top: 0;
}
#content h2 {
    padding-top: 2em;
    font-weight: 300;
}
#content h3 {
    padding-top: 1.6em;
    font-weight: 300;
    text-transform: uppercase;
}
#content p {
    line-height: 1.4em;
}
#content blockquote {
    font-size: 1.2em;
    font-weight: 300;
    text-align: left;
    color: #777;
    padding-left: 30px;
    border-left: 1px #ccc solid;
    margin: 0;
}
#content blockquote * {
    color: inherit;
}


#series_gallery section {
    margin: 10px;
}
#series_gallery section h2 {
    color: #888;
    border-bottom: 1px solid #bbb;
}
#series_gallery .mini {
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
}
#series_gallery .mini li {
    cursor: pointer;
}
#series_gallery .mini li:hover img {
    opacity: .9;
}
#series_gallery .mini img {
    width: 199px;
}

#series_gallery .mini .more {
    font-size: 2em;
    color: #aaa;
    font-weight: bold;
}
#series_gallery .mini .more:before {
    content: '+';
}

#events_gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
}
#events_gallery .event {
    width: 250px;
    border: 1px solid #fff;
    margin: 10px;
    border-radius: 9px;
    box-shadow: 0 0 20px rgba(0,0,0, .2);
    overflow: hidden;
}
#events_gallery .event:hover {
    border: 1px solid #ddd;
}
#events_gallery .event .image {
    text-align: center;
}
#events_gallery .event .image img {
    display: block;
    width: 100%;
    max-width: 100%
}
#events_gallery .text {
    padding: 10px;
    padding-bottom: 20px;

}

#events_gallery .text h2 {
    font-size: 1.2em;
    padding: 4px;
}
#events_gallery .text .date {
    margin-right: 10px;
    color: #888;
    font-style: normal;

}
#events_gallery .text .btn {
    background: #aaa;
    color: #fff;
    font-weight:900;
    padding: 3px;
    border-radius: 3px;
    text-align:center;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.3em;
    width: 20px;
    height: 20px;
    cursor:pointer;
}
#events_gallery .text .btn:hover {
    background: #888;
}

.events_gallery_grp .event {
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.events_gallery_grp .event:hover {
    border-bottom: 1px solid #bbb;
}
.events_gallery_grp .btn b {
    background: #aaa;
    color: #fff;
    font-weight:900;
    padding:0;
    border-radius: 3px;
    text-align:center;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.1em;
    overflow: hidde;
    width: 15px;
    height: 15px;
    cursor:pointer;
}
.events_gallery_grp .btn {
    padding: 4px;
    margin: 3px;
    color: #444;

}
.events_gallery_grp .btn:hover b {
    background: #888;
}
.events_gallery_grp .btn:hover {
    color: #111;
}
|

#content .galery .description {
    font-size: 1.2em;
    font-weight: 300;
    text-align: left;
    font-style: italic;
    color: #888!important;
}
#content .galery .description * {
    color: inherit;
}

#gallery_panel {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
}
#gallery_panel .cnt {
    background: #fff;
}
#gallery_panel .cnt p {
    background: #fff;
    padding: 3px auto;
    color: #666;
}
#gallery_panel nav {
    background: #222;
    padding: 10px;
}
#gallery_panel strong {
    color: #bbb;
    display: inline-block;
    margin: 0 20px;
    font-size: 1.2em;
}
#gallery_panel i[name=position] {
    color: #aaa;
    margin: 0 10px;
}
#gallery_panel nav button {
    background: #444;
    color: #aaa;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.1em;
    line-height: 1.1em;
    border: none;
    padding-bottom: 3px;
    user-select: none;
}

#gallery_panel nav button:hover {
    background: #888;
    color: #fff;
}
#gallery_panel img {
    display: inline-block;
    max-height: 80vh;
    max-width: 80vw;
}
#gallery_panel nav button[name=prev]:before {
    content: '<';
}
#gallery_panel nav button[name=next]:before {
    content: '>';
}
#gallery_panel nav button[name=close]:before {
    content: '×';
}


#events_panel {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
}
#events_panel .cnt {
    background: #fff;
}
#events_panel .cnt p {
    background: #fff;
    padding: 3px auto;
    color: #666;
}
#events_panel nav {
    background: #222;
    padding: 10px;
}
#events_panel b {
    color:#888;
    text-transform: uppercase;
}
#events_panel strong {
    color: #bbb;
    display: inline-block;
    margin: 0 20px;
    font-size: 1.2em;
}
#events_panel nav button {
    background: #444;
    color: #aaa;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.1em;
    line-height: 1.1em;
    border: none;
    padding-bottom: 3px;
    user-select: none;
}

#events_panel nav button:hover {
    background: #888;
    color: #fff;
}
#events_panel img {
    display: inline-block;
    max-height: 80vh;
    max-width: 80vw;
}

#events_panel nav button[name=close]:before {
    content: '×';
}

#events_panel .text {
    text-align: left;
    padding: 20px 30px 10px 30px;
}

#events_panel .text .details b, #events_panel .text .details strong,
#events_panel .text .details i, #events_panel .text .details em,
#events_panel .text .details a {
    font-size: 1.1em!important;
    color: #666!important;
    padding: 0!important;
    margin: 0!important;
}

#events_panel h2 {
    text-align: center;
    font-size: 2em;
}

#events_panel .links {
    text-align: left;
    padding: 10px 30px;
}
#events_panel .links a img {
    width: 22px;
    margin: 3px;
    vertical-align: middle;
}

#events_panel .links strong {
    color: #888;
    margin: 0;
    padding: 0;
    padding-right: 10px;
}

#events_panel .links ul {
    display: inline-block;
    padding: 0;
    margin: 0;
}

#events_panel .links ul li {
    text-align: left;
    list-style: none;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin: 4px 10px;
    border-radius: 2px;
    display: inline-block;
}
#events_panel .images {
    background: #ccc;
    padding: 10px;
}
#events_panel .images img {
    margin: 10px;
    max-width: 90%;
}

/* clases */

.classes {
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
    margin: 50px 20px;
    overflow: hidden;
    padding: 0;

}

.classes .image img {
    width: 100%!important;
    max-width: 100%!important;
    padding: 3px;
    user-select: none;
    margin: 0;
    padding: 0;
}

.classes .text {
    padding: 20px;
}
.classes .text * {
    display: inline;
}
.classes .text .title {
    font-size: 1.3em;
    margin: 5px;
    margin-top: 1em;
    font-weight: bold;
}

.classes .text .shortxt {
    font-size: 1em;
    margin: 0;
    text-align: center;
}
.classes .btn {
   background: #aaa;
    color: #fff;
    font-weight: bold;
    padding: 8px 10px 5px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2em;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border: none;
    user-select: none;
}

.classes .btn:hover {
    background: #888;
}

.classes .btn.more {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    line-height: 3em;
    border-top-right-radius: 0 ;
    font-size: 0.8em;
}

#classes_panel {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
}
#classes_panel .cnt {
    background: #fff;
}
#classes_panel .cnt p {
    background: #fff;
    padding: 3px auto;
    color: #666;
}
#classes_panel nav {
    background: #222;
    padding: 10px;
}
#classes_panel b {
    color:#888;
    text-transform: uppercase;
}
#classes_panel strong {
    color: #bbb;
    display: inline-block;
    margin: 0 20px;
    font-size: 1.2em;
}
#classes_panel nav button {
    background: #444;
    color: #aaa;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.1em;
    line-height: 1.1em;
    border: none;
    padding-bottom: 3px;
    user-select: none;
}

#classes_panel .images {
    padding: 0;
    text-align: center;
}
#classes_panel .images img {
    display: inline-block;
    margin: 3px;
    max-height: 60vh;
    max-width: 60vw;
    padding: 0;
    user-select: none;
}

#classes_panel nav button:hover {
    background: #888;
    color: #fff;
}
#classes_panel nav button[name=close]:before {
    content: '×';
    font-size: 1.3em;
    line-height: 1.1em;
}

#classes_panel .text {
    text-align: left;
    padding: 20px 30px 10px 30px;
}
#classes_panel .text .details b, #classes_panel .text .details strong,
#classes_panel .text .details i, #classes_panel .text .details em,
#classes_panel .text .details a {
    font-size: 1.1em!important;
    color: #666!important;
    padding: 0!important;
    margin: 0!important;
}
#classes_panel h2 {
    text-align: center;
    font-size: 2em;
}

#classes_panel .links {
    text-align: left;
    padding: 10px 30px;
}
#classes_panel .links a img {
    width: 22px;
    margin: 3px;
    vertical-align: middle;
}
#classes_panel .links strong {
    color: #888;
    margin: 0;
    padding: 0;
    padding-right: 10px;
}
#classes_panel .links ul {
    display: inline-block;
    padding: 0;
    margin: 0;
}
#classes_panel .links ul li {
    text-align: left;
    list-style: none;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin: 4px 10px;
    border-radius: 2px;
    display: inline-block;
}

#classes_panel .registration {
    padding: 10px 12px;
    background: #666;
    color: #fff;
}
#classes_panel .registration * {
    color: #fff;
}
#classes_panel .registration a {
    font-weight: bold;
}
#classes_panel .registration p {
    line-height: 2.3em;
}


/* Page language selector */
#page_lang {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.9em;
    border: 10px solid rgba(0,0,0,0.5);
    background: #00f;
}



/* list punteada */
.disc-list li {
    list-style: disc!important;
    margin: 0 2em;
}

.circle-list li {
    list-style: circle!important;
    margin: 0 2em;
}
