* {
  font-family: 'Overpass', sans-serif;
  color: #444;
  box-sizing: content-box;
}

body {
  padding: 5vw;
  margin:0;
  text-align:center;
  background:#eee;
}
body.locked { 
  overflow: hidden;
}

li {
  color: #555;
}
li strong {
  color: #888;
}

a {
  text-decoration: underline rgba(0,0,0,.3);
}
a:hover {
  text-decoration: underline rgba(0,0,0,.8);
}
footer {
  padding: 1vw;
}

code {
  color: #888;
  font-size: .9em;
}

.hide {
  display: none;
}

.col_1d2 {
  float: left;
  width: 50%;
  overflow: hidden;
}
.col_1d3 {
  float: left;
  width: 33.333%;
  overflow: hidden;
}
.col_1d4 {
  float: left;
  width: 25%;
  overflow: hidden;
}
.col_2d3 {
  float: left;
  width: 66.666%;
  overflow: hidden;
}
.col_close {
  width: 100%;
  float: none;
}

.flex_col {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
}
.flex_col.fc_1d4 {
  flex-basis: 25%;
}

.flex_col.fc_1d3 {
  flex-basis: 33.333%;
}

.flex_col.fc_1d2 {
  flex-basis: 50%;
}
.columns {
  display: flex;
  flex-flow: row;
}
.columns .img p {
  text-align: center;
}
.columns .img p img {
  display: block;
  margin: 0 auto;
}

.menu_bar .menu {
  display: inline-block;
}

.center {
  text-align: center;
}
.vertical_center {
  align-items: center;
}

.manifest {
  font-size: 1.5em;
  font-weight: lighter;
  text-align: center;
  padding: 30px 60px 80px 60px;
  line-height: 1.4em;
  color: #888;
}
.manifest * {
  color: inherit;
}

.no_padding_top_first_h2 h2:first-child {
  padding-top: 0!important;
}

.lined-block {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

header {
   min-height: 100px; 
   display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
   align-items: center;
   background: inherit;
}

#logo {
  max-width: 250px;
  margin: 0 auto;
}

#menu_pages a {
  font-size: 1.1em;
  text-decoration: nunderline rgba(0,0,0,.3)one;
  color: rgba(0,0,0,.6);
}
#menu_pages a.actual,
#menu_pages a:hover {
  color: rgba(0,0,0,.9);
  text-decoration: underline rgba(0,0,0,.3);
}

.menu_sticky_active header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 40px;
  z-index: 10000;
  padding: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: 1s all;
}

body.locked header {
  display: none;
}
.menu_sticky_active #content {
  margin-top: 100px;
}

select#page_lang {
  padding: 3px;
  border: none;
  border-radius: 4px;
  background: #fff;
}
.menu ul {
  padding: 0;
  margin: 0;
}
.menu li {
  padding: 4px;
  list-style: none;
  display: inline-block;
}

.list_lined li {
  padding: 10px;
  margin: 8px auto;
  border-radius: 3px;
  border-top: 1px solid #bbb;
  border-left: 2px solid #ccc;
}

.list_item li {
  padding: 10px;
  margin: 8px auto;
  border-radius: 2px;
  border-bottom: 1px solid #bbb;
}
.list_item li img {
  width: 25px;
  padding: 0 5px;
}

.list_item li * {
  vertical-align: middle;
}

.list_inline li {
  display: inline-block;
  padding: 10px 20px;
  margin: 8px 20px;
  border-radius: 5px;
  border-bottom: 1px solid #ccc;
}

.slide {
  margin: 0;
  padding: 0;
  position: relative;
}
.slide .image {
  margin: auto;
  text-align: center;
  position: relative;
}
.slide .image img {
  margin: auto;
  display: inline-block!important;
  width: 100%!important;
}
.slide .image .back {
  opacity: 0;
  width: 100%;
  max-width: 100%!important;
}
.slide .image .front {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%!important;
}
.slide ul {
  text-align: center;
  width: 100%;
}
.slide ul li {
  background: #bbb;
  border: 3px solid #fff;
  margin: 10px;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
}
.slide ul li:hover,
.slide ul li.actual {
  background: #555;
}

#content {
  background: #fff;
  padding: 4vw 4vw 8vw 4vW;
  margin: 2vw;
  text-align: left;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}
#content img {
  display: block;
  max-width: 80%;
}

#content ul {
  padding: 0;
  margin: 0 auto;
}
#content li {
  list-style: none;
}
#content li * {
  vertical-align: middle;
}
#content li img {
  display: inline-block;
}

#content h1 {
  font-size: 1.6em;
  text-align: center;
  font-weight: 300;
  color: #999;
  margin-top: 10px;
  padding-top: 0;
}
#content h2 {
  padding-top: 2em;
  font-weight: 300;
}
#content h3 {
  padding-top: 1.6em;
  font-weight: 300;
  text-transform: uppercase;
}
#content p {
  line-height: 1.4em;
}
#content blockquote {
  font-size: 1.2em;
  font-weight: 300;
  text-align: left;
  color: #777;
  padding-left: 30px;
  border-left: 1px #ccc solid;
  margin: 0;
}
#content blockquote * {
  color: inherit;
}


#series_gallery section {
  margin: 10px;
}
#series_gallery section h2 {
  color: #888;
  border-bottom: 1px solid #bbb;
}
#series_gallery .mini {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
}
#series_gallery .mini li {
  cursor: pointer;
}
#series_gallery .mini li:hover img {
  opacity: .9;
}
#series_gallery .mini img {
  width: 220px;
}

#series_gallery .mini .more {
  font-size: 2em;
  color: #aaa;
  font-weight: bold;
}
#series_gallery .mini .more:before {
  content: '+';
}

#content .galery .description {
  font-size: 1.2em;
  font-weight: 300;
  text-align: left;
  font-style: italic;
  color: #888!important;
}
#content .galery .description * {
  color: inherit;
}

#gallery_panel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
}
#gallery_panel .cnt {
  background: #fff;
}
#gallery_panel .cnt p {
  background: #fff;
  padding: 3px auto;
  color: #666;
}
#gallery_panel nav {
  background: #222;
  padding: 10px;
}
#gallery_panel strong {
  color: #bbb;
  display: inline-block;
  margin: 0 20px;
  font-size: 1.2em;
}
#gallery_panel i[name=position] {
  color: #aaa;
  margin: 0 10px;
}
#gallery_panel nav button {
  background: #444;
  color: #aaa;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1.1em;
  line-height: 1.1em;
  border: none;
}

#gallery_panel nav button:hover {
  background: #888;
  color: #fff;
}
#gallery_panel img {
  display: inline-block;
  max-height: 80vh;
  max-width: 80vw;
}
#gallery_panel nav button[name=prev]:before {
  content: '<';
}
#gallery_panel nav button[name=next]:before {
  content: '>';
}
#gallery_panel nav button[name=close]:before {
  content: 'x';
}

#news_gallery  {
  text-align: center;
}
#news_gallery section {
  text-align: left;
  display: inline-block;
  margin: 1%;
  padding: 1%;
  border-top: 1px solid #aaa;
  width: 26%;
  vertical-align: top;
}
#news_gallery section h2 {
  padding-top: 10px;
}
#news_gallery section h3 {
  padding-top: 10px;
}

#press_gallery  {
  text-align: center;
}
#press_gallery section {
  text-align: left;
  display: inline-block;
  margin: 1%;
  padding: 1%;
  border-top: 1px solid #aaa;
  width: 40%;
  vertical-align: top;
}
#press_gallery section h2 {
  padding-top: 10px;

}