
@media (min-width:701px){
    .cabecera .gr {
	display: block;
    }
    .cabecera .ch {
	display: none;
    }
}

@media (max-width:700px){
    .artistas {
	margin: 5vw 4vw;
    }
    .mobile {
      width: 100%;
      max-width: 100%;
      flex-basis: 100%!important;
    }
    .obras {
	flex-flow: column;
	justify-content: center!important;
    }
    .obras .obra {
	margin: auto;
	width: 200px;
    }
    .obra .texto {
	flex-flow: column;
    }
    .cabecera .gr {
	display: none;
    }
    .cabecera .ch {
	display: block;
    }
}

@media (max-width:540px){
    .artistas {
	margin: 5vw 2vw;
    }
    .obras .obra {
	width: 190px;
    }

}
